body {
    font-family: Roboto, sans-serif;
    line-height: 1.6;
}

.header {
    background-color: #1F2937;
}

img {
    border-radius: 8px;
}

a {
  text-decoration: none;
  color: #F9FAF8;
}

.logo {
    font-weight: bolder;
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    font-weight: 1000   ;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 24px;
    border: 1px solid white;
}

.content {
    text-align: center;
    font-weight: 1000;
    font-size: 28px;
}

.item {
    font-size: 18px;
    font-weight: 100;
    color: grey;
}

.quote {
    background-color: #E5E7EB;
    color: #454647;
    font-weight: lighter;
    font-size: 36px;
    text-align: center;
}

.qname {
    font-weight: bold;
    color: #1f2937;
    text-align: end;
}

.footer{
    background-color: #3882f6;
}