* {
    margin: 0;
    padding: 0;
}


.header, .footer, .content, .quote {
    padding: 0% 15%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* # Header */
/* #region */ 

.topbar {
    padding: 16px 0;

    display: flex;
    justify-content: space-around;
    align-items: baseline;

    gap: 16px;
}

.logo {
    flex: 1;
}

.heroes {
    margin: 100px 0;
    flex: 1;

    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;

    gap: 50px;
}

.hero-content {
    flex-grow: 2;
    flex-basis: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    gap: 24px;}

.placeholder {
    flex-grow: 3;
    flex-basis: 350px;
    align-content: center;
}

.placeholder img {
    width: 100%;
}

/*#endregion*/


/* # Content */
/* #region */

.content{
    padding: 50px 0;
    align-self: center;
}

.items {
    margin-top: 30px;
    flex: 1;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    gap: 8px;
}

.item {
    flex-basis: 350px;

    padding-bottom: 20px;
    border-bottom: 10px solid grey;
    margin-bottom: 30px;
}

.item img {
    aspect-ratio: 1/1;
    width: 80%;
    object-fit: cover;
    margin-bottom: 15px;
}

/* #endregion */

.quote {
    padding: 7% 20%;
    display: flex;
}

.qname {
    margin-top: 30px;
}


.footer {
    border-radius: 10px;
    margin: 5% 15%;
    padding: 4% 10%;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.footer .logo {
    flex-basis: 500px;
}